@font-face {
    font-family: marioFont;
    src: url(assets/fonts/Mario-Party-Hudson-Font.ttf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}


/* Intro du jeu */
#intro, #outro{
    z-index: 99;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.textIntro{
    padding-top: 2vh;
    width: 70%;
    height: fit-content;
    font-family: marioFont;
}

#pasJouerText{
    position: absolute;
    font-family: marioFont;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center; 
    display: none;
}

#passText{
    position: absolute;
    bottom: 10%;
    right: 10%;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    padding: 1vh;
    border-radius: 50px;
    
}

.textIntroMove{
    transform: translateY(-25vh);
    transition: all .5s;
}

.lineJouer{
    transform: scale(0);
    position: absolute;
    left: 0;
    bottom: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.jouerBtn{
    font-family: marioFont;
    position: relative;
    background-color: transparent;
    border-radius: 50px;
    width: 30%;
    height: calc(3.5rem + 2vh - 10px); /* taille de police + padding haut et bas */
    padding: 1vh;
    border: 1px solid red;
    cursor: pointer;
    overflow: hidden;
}

.growthEffect{
    animation: growth .5s linear;
}

@keyframes growth {
    0% {
        transform: scale(0);
    }
    80%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

.jouerBtn .effect1, .jouerBtn .effect2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 10vh;
    border-radius: 50px;
    transition: all 1s;
}

.jouerBtn .effect1{
    background-color: #9aa9ed;
    transform: translate(-50%, -50%) scale(0);
}

.jouerBtn .effect2{
    transition-delay: .3s;
    background-color: rgb(138, 101, 184);
    transform: translate(-50%, -50%) scale(0);
}

.jouerBtn:hover .effect1, .jouerBtn:hover .effect2 {
    transform: translate(-50%, -50%) scale(5);
}

.jouerBtn .text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 3.5rem;
}

#jouerBtn{
    animation: color-change1 1s linear infinite;
}

#pasJouerBtn{
    animation: color-change2 1s linear infinite;
}

@keyframes color-change1 {
    0%,100%{
      border-color:#ff1493;
    }
  
    25%{
      border-color:#8b4513;
    }
    
    50%{
      border-color:#0091EA;
    }
    
    75%{
      border-color:#9400d3;
    }
}

@keyframes color-change2 {
    0%,100%{
      border-color:#9400d3;
    }
  
    25%{
      border-color:#ff1493;
    }
    
    50%{
      border-color:#8b4513;
    }
    
    75%{
      border-color:#0091EA;
    }
}

.endIntro{
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition: all 0.7s;
}

/* Menu du jeu */
/* Entete */
#menu{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(assets/img/menu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.2s;
}

.mysteryBox{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 20%;
    bottom: 30%;
}

.show{
    width: 50px;
    height: 40px;
    position: absolute;
    left: 20%;
    bottom: 40%;
    display: flex;
    flex-direction: column;
}

.arrow1, .arrow2, .arrow3{
    position: relative;
    width: 100%;
    height: calc(100% / 3);
}

.show .arrow1 div, .show .arrow2 div, .show .arrow3 div{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 3px;
    animation: arrow 0.6s infinite;
    background-color: black;
}

.show .arrow2 div{
    animation-delay: 0.2s;
}

.show .arrow3 div{
    animation-delay: 0.4s;
}

@keyframes arrow {
    0% {
        background-color: black;
    }
    100%{
        background-color: plum;
    }
}

.show .arrow1 div:nth-child(1), .show .arrow2 div:nth-child(1), .show .arrow3 div:nth-child(1){
    transform: rotate(45deg);
}

.show .arrow1 div:nth-child(2), .show .arrow2 div:nth-child(2), .show .arrow3 div:nth-child(2){
    left: 50%;
    transform: rotate(-45deg);
}

.barreMenu{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: black;
    height: 15vh;
    position: relative;
}

.fusion{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(37,156,254) 100%);
    position: absolute;
    left: 0;
    top: 12.5%;
    width: 100%;
    height: 5vh;
}

.barioLogo{
    margin-left: 5vh;
    background-image: url(assets/img/mario/MarioStand1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 10vw;
    height: 100%;
}

.heart{
    filter: contrast(0);
    width: 5vw;
    height: 100%;
    background-image: url(assets/img/heart.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 1vh;
}

.tempsEcoule{
    font-size: 3.5rem;
    color: white;
    font-family: marioFont;
    position: absolute;
    top: 0;
    right: 5%;
    height: 100%;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Boutons lancement de niveau */
.lineLevels{
    margin-top: 10vh;
    height: 25vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.timersLvl{
    position: absolute;
    width: 100%;
    height: 5vh;
    left: 0;
    top: 17.5%;
    display: flex;
}

div[class*='time-']{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: marioFont;
    font-size: 3rem;
}

.dottedLine{
    left: 0;
    position: absolute;
    width: 100%;
    height: 1px;
    border: 5px solid black;
    transition: all 1s linear;
}

.dottedLine2{
    width: 0;
    border-color: gold;
}

.lineLevels button{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    font-family: marioFont;
    box-shadow: inset 0px 0px 70px plum;
    font-size: 10rem;
    border: 5px solid black;
    width: 15vw;
    height: 15vw;
    border-radius: 100%;
    cursor: pointer;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.lineLevels button:nth-child(1){
    background-image: url(assets/img/logolvl1.png);
}
.lineLevels button:nth-child(2){
    background-image: url(assets/img/logolvl2.png);
}
.lineLevels button:nth-child(3){
    background-image: url(assets/img/logolvl3.png);
}

.levelFinished{
    border: 5px double gold !important;
}


/* Outro du jeu */
#outro{
    transform-origin: bottom left;
    transform: rotate(-90deg);
}

.triggerOutro{
    transform: rotate(0deg) !important;
    transition: all 0.7s;
    transition-delay: .5s;
}


/* Modale */
.voile{
    z-index: 100;
    background-color: #C0C0C0;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.modale{
    z-index: 101;
    width: 50%;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: table-cell;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-family: marioFont;
    font-size: 3rem;
}

.modaleHelp{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
}

.modaleHelp h1, .modaleHelp h3{
    font-size: 4rem;
    margin-top: 2vh;
    font-family: marioFont;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modaleHelp h3{
    font-size: 2rem;
}

.modaleHelp div{
    margin: 5vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}

.modaleHelp p{
    margin-top: 5vh;
    margin-bottom: 1vh;
}

.modaleHelp ol, .modaleHelp ul{
    margin-left: 10vh;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.question{
    cursor: pointer;
    margin-left: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: marioFont;
    font-size: 3rem;
    height: 5vh;
    width: 5vh;
    border: 1px solid white;
    border-radius: 50px;
}

table{
    margin-top: 5vh;
    width: 100% !important;
}

table, table td{
    border: 1px solid black;
    width: 50%;
}

.tableDiv{
    align-items: center !important;
    margin: 0 !important;
    width: 100%;
}

table a{
    text-decoration: none;
    color: blue;
}

.barioLogo{
    cursor: pointer;
}

.easterEggText{
    font-size: 1rem;
}